/* Global */
body {
  font-family: 'Roboto', sans-serif;
  background: #f5f6fa;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body .reduced-dashboard {
  width: 20% !important;
  margin-left: 15% !important;
  transition: all 0.3s ease-in-out;
}

.sidebar {
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.job-list-container {
  margin-top: 1%;
  max-width: 78%;
  margin-left: 21%;
  padding: 13px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

h2 {
  text-align: center;
  color: #34495e;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-size: 15px;
  margin-bottom: 7px;
  color: #7f8c8d;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  padding: 10px;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  border-color: #3498db;
}

button {
  padding: 10px 15px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #27ae60;
}
.section-title {
  text-align: center;
  color: #34495e;
  border-bottom: 2px solid #7f8c8d;
  padding-bottom: 15px;
  font-size: 24px;
  margin-bottom: 30px;
}

.job-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.job-card {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.job-card:hover {
  transform: translateY(-10px);
}

.job-header {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
}

.job-type {
  background-color: #27ae60;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  float: right;
  font-size: 12px;
  margin-top: -5px;
}

.job-details, .company-details {
  padding: 15px 20px;
}

.job-details p, .company-details p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #7f8c8d;
}

button {
  padding: 10px 15px;
  background-color: #34495e;
  color: white;
  border: none;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2c3e50;
}

.no-jobs-found {
  text-align: center;
  color: #7f8c8d;
  font-size: 20px;
  padding: 40px 0;
}
