<div class="upload-container">
  <h2>Upload Photo</h2>
  <label class="custom-file-upload">
    <input type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png, .pdf" />
    <span>Choose File</span>
  </label>
  <button type="button" (click)="onUpload()" [disabled]="!selectedFile">Confirm</button>
</div>

<div class="preview-container" *ngIf="filePreviewUrl">
  <ng-container *ngIf="selectedFile">
    <div class="preview">
      <img *ngIf="selectedFile.type?.startsWith('image')" [src]="filePreviewUrl" alt="Image Preview" />
      <object *ngIf="selectedFile.type === 'application/pdf'" [data]="filePreviewUrl" type="application/pdf" width="100%" height="200px">
        PDF Preview
      </object>
    </div>
  </ng-container>
</div>
